APP_NAME="Planetic Solutions"
APP_URL=https://planeticsolution.com
APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=Europe/London

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=planetic_solutions
DB_USERNAME=planetic_user
DB_PASSWORD=change_this_database_password

MAIL_FROM=hello@planeticsolution.com
ADMIN_EMAIL=hello@planeticsolution.com

WHMCS_URL=https://planeticsolution.com/clientarea
WHMCS_CLIENT_AREA_URL=https://planeticsolution.com/clientarea/
WHMCS_API_URL=https://planeticsolution.com/clientarea/includes/api.php
WHMCS_API_IDENTIFIER=
WHMCS_API_SECRET=
WHMCS_API_ACCESS_KEY=
WHMCS_API_SSL_VERIFY=true
WHMCS_LOCAL_API_BRIDGE_URL=
WHMCS_LOCAL_API_BRIDGE_TOKEN=
DOMAIN_HOSTING_PID=
WHMCS_PAYMENT_METHOD=stripe
WHMCS_CURRENCY_ID=1
WHMCS_DEFAULT_BILLING_CYCLE=monthly
WHMCS_STARTER_HOSTING_PID=1
WHMCS_BUSINESS_HOSTING_PID=2
WHMCS_WORDPRESS_HOSTING_PID=3
WHMCS_RESELLER_HOSTING_PID=4
WHMCS_WEBSITE_PACKAGE_PID=5
WHMCS_WEBSITE_BILLING_CYCLE=onetime
WHMCS_WEBSITE_REGISTER_DOMAIN=true
WHMCS_WEBSITE_DOMAIN_PRICE_OVERRIDE=0.00
WHMCS_NS1=
WHMCS_NS2=
WHMCS_NS3=
WHMCS_NS4=
WHMCS_NS5=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
